

<router-outlet />

<app-header></app-header>

<main>
    <div class="user-container">
        <ul id="users">
            <li> <app-users [id]="users[0].id" [avatar]="users[0].avatar" [name]="users[0].name" (select)="onselectedUser($event)"/></li>
            <li> <app-users [id]="users[1].id" [avatar]="users[1].avatar" [name]="users[1].name" (select)="onselectedUser($event)"/></li>
            <li> <app-users [id]="users[2].id" [avatar]="users[2].avatar" [name]="users[2].name" (select)="onselectedUser($event)"/></li>
            <li> <app-users [id]="users[3].id" [avatar]="users[3].avatar" [name]="users[3].name" (select)="onselectedUser($event)"/></li>
        </ul>
        <div class="user-task"><h1>Task of the user</h1></div>
    </div>
</main>


